.wrapper {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  background: #ccc;
}

.header {
  height: 100px;
  background: #fef;
}
.header h2 {
  margin: 10px 0px;
  line-height: 30px;
  height: 30px;
}

.grids {
  width: 500px;
  margin: 20px auto;
}

.info {
  color: #f00;
  height: 25px;
  line-height: 25px;
}

.actions {
  text-align:right;
  margin: 0 10px;
}

.actions button{
  width: 80px;
  height: 28px;
  display: inline-block;
  margin: 0 10px;
  background: #00a0e9;
  color: #fff;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  border: 1px solid transparent;
  line-height: 1.5;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 4px;
}

.actions button.disabled {
  background: #ddd;
  cursor: not-allowed;
}

.chessboard {
  width: 450px;
  height: 450px;
  margin: 30px auto;
}
